{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "include": "src/**/*.ts",
  "report-dir": ".coverage/node",
  "reporter": ["text", "lcov"],
  "lines": 80,
  "statements": 80
}
